# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.dbgconf
*.scvd
*.axf
*.htm
*.asm
*.lnp
*.dep
*.ziada
*.uvoptx
*.uvprojx
*.2
Drivers/PWM/code/RTE/Device/STM32F103C8/.system_stm32f10x.c@1.0.1
Drivers/PWM/code/RTE/Device/STM32F103C8/.startup_stm32f10x_md.s@1.0.1
